# exclude hidden R profile files
.Rproj.user

# exclude {renv} directory
renv/

# exclude snakemake housekeeping and logs
code/.snakemake
code/logs

# exclude quarto compilation side-products but track reports
.quarto/
code/qmd/*
code/styles*
!code/qmd/*.qmd
!code/qmd/snippets
!code/styles.scss

code/sh/cactus

# exclude results by default
results/*
!results/img
results/img/*pdf

# exclude large data 
# (explicitly define tracked files)
data/*
!data/carnivora_ref_genomes.tsv
!data/carnivora_list.nwk
!data/file_info.tsv
